{
  "apps": [
    {
      "name": "stellarforge",
      "script": "bun",
      "args": "--bun next start -p 3700",
      "env": {
        "NODE_ENV": "production",
        "DATABASE_URL": "",
        "DIRECT_DATABASE_URL": ""
      }
    }
  ]
}
